<form class="ui stacked segment form" action="/team/{{team.id}}/addplayer" method="POST">
  <div class="two fields">
    <div class="field">
      <label>Player</label>
      <input type="text" name="playerName" autofocus required title = "Please include a valid player name"
      placeholder="Player Name">
    </div>
  </div>
  <button class="ui blue submit button">Add Player</button>
</form>
