{{#each teams}}
  <section class="ui segment">
    <h2 class="ui header">
      {{teamName}}
    </h2>
    <a href="/team/{{id}}">
      <i class="ui open folder icon"></i>
    </a>
    <a href="/dashboard/deleteteam/{{id}}">
      <i class="ui trash icon delteam"></i>
    </a>
  </section>
{{/each}}