<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Players</th>
      <th>Market Value</th>
      <th>Age</th>
      <th>Position</th>
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <tr>
        <td>
          {{playerName}}
        </td>
        <td>
          {{marketValue}}
        </td>
        <td>
          {{age}}
        </td>
        <td>
          {{position}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
