{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The soccer team app developers:
  </h2>

  <div class="ui centered cards">
  {{#each developers}}
      {{> card}}
{{/each}}
  </div>
  
  <div class="ui two column grid">
    <div class="four wide column">
      <h1>
        Our HQ
      </h1>
    </div>
    <div class="ui twelve wide column" id="map">
    </div>
  </div>
</section>
