{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    The soccer team app developers:
  </h2>

  <div class="ui centered cards">
  {{#each developers}}
      {{> card}}
{{/each}}
  </div>
</section>
