<!-- https://www.computerhope.com/issues/ch000317.htm -->
{{> menu id="dashboard"}}

<div class="back button">
<button class="ui small button" onclick="history.back()">
  <i class="big arrow alternate circle left icon"></i>
</button>
</div>

<section class="ui raised segment">
  {{> listteams}}
  {{> addteam}}
</section>