<!-- https://www.computerhope.com/issues/ch000317.htm -->
{{> menu id="dashboard"}}

<section class="ui segment">
  <form class="ui form">
     <input type="button" value="Go Back" id="ui small button" onclick="history.back()">
  </form>
</section>

<section class="ui segment">
  {{> listteams}}
  {{> addteam}}
</section>