<!-- https://www.computerhope.com/issues/ch000317.htm -->
{{> menu id="dashboard"}}

<button class="ui small button" onclick="history.back()">
  <i class="big arrow alternate circle left icon"></i>
</button>
  

<section class="ui segment">
  {{> listteams}}
  {{> addteam}}
</section>