{{> menu}}

<section class="ui two column grid raised segment">
     <div class="ui column">
       
        <div class="bigger text on column">
      <h2 class="ui header">
  Welcome to the Soccer Teams App, 
        <br>
        <font color="red">
          {{Uppercase fullname}}
        </font>
</h2>
            <p id="paragraph">
              Choose and add players to a team you love watching or add some new faces to an existing team!
            </p>
     
      
       <button class="ui pink button" id="exploreTeams">
         Explore soccer teams around the world
       </button>
       </div>
      
          <div id="welcomeuser" class="ui message"> </div>
       
       
       <div class="ui divider"></div>

<h3 class="ui center aligned header">The Soccer Teams App now contains:</h3>
<div class="ui three statistics">
    <div class="ui huge statistic">
        <div class="value">
            {{totalTeams}}
        </div>
        <div class="label">
            Teams
        </div>
    </div>
    <div class="ui huge statistic">
        <div class="value">
            {{totalPlayers}}
        </div>
        <div class="label">
            Players
        </div>
    </div>
  <div class="ui huge statistic">
        <div class="value">
            {{averageNumPlayersPerTeam}}
        </div>
        <div class="label">
            Average Number of Players Per Team
        </div>
    </div>
</div>

        </div>
  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
        <img class="ui small image" src="https://cdn.glitch.global/e05a4df7-aa60-4b97-90f5-5a2bb0d57094/chelsea-logo.png?v=1678478542507">
      </div>
      <div class="ui eight wide column">
        <img class="ui small image" src="https://cdn.glitch.global/e05a4df7-aa60-4b97-90f5-5a2bb0d57094/bayern.png?v=1678478544825">
      </div>
      <div class="ui eight wide column">
        <img class="ui small image" src="https://cdn.glitch.global/e05a4df7-aa60-4b97-90f5-5a2bb0d57094/Liverpool_FC.png?v=1678478547531">
      </div>
      <div class="ui eight wide column">
        <img class="ui small image" src="https://cdn.glitch.global/e05a4df7-aa60-4b97-90f5-5a2bb0d57094/manchester_united_logo_PNG1.png?v=1678478605027">
      </div>
    </div>
  </div>
</section>
