/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: lightgrey;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}