@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  /* https://stackoverflow.com/questions/57229145/css-in-vue-js-app-safari-firefox-are-not-loading-google-font */

body {

  font-family: Helvetica, sans-serif;
  margin: 3em;
  background-color: #464D77;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

#welcomeuser {
  display: none;
}

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}

.ui.segment {
  background: #F4EDED;
  
}

.ui.menu {
background-color: #F9DB6D;
}

.bigger{
    font-size: 20px;
}

#heading {
  margin-bottom: 1em;
}

#paragraph {
  font-style: italic;
  color: #5a5357
}

#hq{
  
}
