@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  /* https://stackoverflow.com/questions/57229145/css-in-vue-js-app-safari-firefox-are-not-loading-google-font */

body {

  font-family: Helvetica, sans-serif;
  margin: 3em;
  
  /* Applied if none do */
  background: rgb(2,0,36);
  background: -moz-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(7,7,80,1) 0%, rgba(29,161,222,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(7,7,80,1) 0%, rgba(29,161,222,1) 100%);
  
  /* Linear gradient => https://cssgradient.io */
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(7,7,80,1) 0%, rgba(29,161,222,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#1da1de",GradientType=1);
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#readmore {
  display: none;
}

.ui.small.button{
  float: right;
  border-radius: 2em;

}

#welcomeuser {
  display: none;
}

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.95);
  font-weight: normal;
  box-shadow: none;
}

.ui.segment {
  background: #F4EDED;
  border-radius: 1.2rem;
  
}

.ui.menu > {
background-color: rgba(245, 244, 56, 0.87);
}

.bigger{
    font-size: 20px;
}

#heading {
  margin-bottom: 1em;
}

#paragraph {
  font-style: italic;
  color: #5a5357
}

#hq{
  color: #221F1F !important; 
  /* https://stackoverflow.com/questions/13117126/how-to-overwrite-css-style */
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.3em;
}

#mapSize{
  /* https://www.w3schools.com/cssref/pr_border-width.php */
  border-style: solid;
  border-color: #e03997;
  border-radius: 1.5em;
  border-width: 0.3em;
}

.ui.grid.segment{
  border-radius: 1.2em;
}

.back{
  display: flex;
}

.name{
  padding-top:20px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
  text-transform:capitalize;
}

.profilepic{
  padding-top:15px;
  padding-right:5px;
  line-height:20px;
  font-weight:bold;
}

